* {
  margin: 0;
  padding: 0;
  body {
    font-family: "Poppins", sans-serif;
  }

  .hero_section {
    background: url(Media/bg.jpeg);
    width: 100%;
    height: 100vh;
  }

  .hero_section_logo h1 {
    font-size: 42px;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    padding-top: 40px;
  }

  .hero_section_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70%;
  }

  .hero_section_content .hero_section_content_title {
    font-weight: 500;
  }

  .hero_section_content .hero_section_content_para {
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    margin-top: 16px;
  }

  .btn_container {
    margin-top: 28px;
  }

  .btn_container .btn {
    font-size: 12px;
    padding: 16px;
    border-radius: 30px;
    border: 1px solid gray;
    font-weight: 600;
    margin: 0px 5px;
  }

  .btn_container button:nth-child(1) {
    background-color: transparent;
    transition: 0.3s all ease;
    cursor: pointer;
  }
  .btn_container button:nth-child(2) {
    background-color: black;
    color: white;
    transition: 0.3s all ease;
    cursor: pointer;
  }

  .btn_container button:nth-child(1):hover {
    transform: scale(1.1);
  }

  .btn_container button:nth-child(2):hover {
    transform: scale(1.1);
  }
  .video-section {
    text-align: center;
    position: relative;
    padding: 40px 40px;
    background-color: #dbdbdb;
    border-radius: none;
  }

  .video-section iframe {
    width: 95vw;
    height: 60vw;
    max-width: 1500px;
    max-height: 1000px;
    border-radius: 200px 200px 200px 200px;
  }

  .caption {
    margin-top: -130px;
    margin-right: 900px;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    text-align: center;
  }
}
.card_container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  column-gap: 20px;
  /* row-gap: 150px; */
  padding: 50px;
}

.card {
  height: 90vh;
  width: 40vw;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
}
.card > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  border: none;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  cursor: pointer;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 1s;
}

.card1 {
  background: url(Media/superintelligent.jpeg);
}
.card2 {
  background: url(Media/utility.webp);
}
.card3 {
  background: url(Media/voltage.webp);
}
.card4 {
  background: url(Media/tangentgolf.jpeg);
}
.card > div:hover {
  transform: scale(1.1);
}
.card_name {
  height: 100px;
  width: 40vw;
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner {
  background-color: rgb(216, 213, 213);
  height: 150vh;
  width: 100%;
}

.banner_logo {
  display: flex;
  justify-content: center;
}
.banner_logo img {
  height: 140px;
  border-radius: 35px;
  transform: rotate(15deg);
  margin-top: 30px;
  box-shadow: -30px 40px 50px rgba(0, 0, 0, 0.514);
}
.banner_content {
  display: flex;
}
.banner_content_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: -150px;
  width: 50vw;
}
.banner_content_title h1 {
  font-size: 180px;
  color: rgb(151, 151, 151);
  font-weight: 500;
  height: 180px;
}
.banner_content_title h2 {
  font-size: 180px;
  color: black;
  font-weight: 500;
  height: 180px;
  margin: -50px 0 0 200px;
}
.banner_content_img {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: right;
  overflow: hidden;
  margin-top: 200px;
}
.banner_content_img img {
  height: 500px;
  border-radius: 30px;
  margin-right: -350px;
  box-shadow: -30px 40px 50px rgba(0, 0, 0, 0.404);
}
.banner_content_title_list {
  margin-top: 100px;
}
.list_container {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list_item {
  padding: 10px;
  border-radius: 5px;
}
